#vChart {
    padding-top:50px;
}
.svgBar:hover {
    fill:#62a9c5 !important;
    /* background-color: #AD310B; */
    -webkit-transition: fill 300ms linear;
    -ms-transition: fill 300ms linear;
    transition: fill 300ms linear;
    cursor: pointer;
}