.addButton {
    width:25%;
    height:40px;
    border-radius: 5px;
    background-color: var(--color-three);
    border: solid 1px var(--colorBase);
    margin:10px;
    color:white;
}

.addButton:hover {
    cursor:pointer;
    background-color: var(--color-three);
    border: solid 1px var(--color-three);
}