:root {
  --colorBase: #EAE6E5;
  --color-two:  #61DAFB;
  --colorTwoRgb: rgba(97,218,251);
  --color-three: #12130F;
  --textColor: #f9f9f9;
  --navHeight: 65px;

  /* --v0c: rgba(84,169,133);
  --v1c: rgba(64,149,113);
  --v2c: rgba(44,129,93);
  --v3c: rgba(77,198,231);
  --v4c: rgba(57,178,211);
  --v5c: rgba(37,158,191);
  --v6c: rgba(17,138,171);
  --v7c: rgba(197,65,55);
  --v8c: rgba(167,35,25);
  --v9c: rgba(137,5,0);
  --v10c: rgb(101, 39, 126);
  --v11c: rgba(71,9,96); */
  --v0c: rgb(150, 190, 170);
  --v1c: rgba(140,180,160);
  --v2c: rgba(130,170,150);
  --v3c: rgba(120,160,140);
  --v4c: rgba(110,150,130);
  --v5c: rgba(100,140,120);
  --v6c: rgba(90,130,110);
  --v7c: rgba(80,120,90);
  --v8c: rgba(65,105,75);
  --v9c: rgba(50,90,60);
  --v10c: rgb(35, 75, 45);
  --v11c: rgba(20,60,30);
}

button {
  cursor:pointer;
}


.wrapper {
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  width:100vw;
  height: 100vh;
  background-color: var(--colorBase);
  margin:0px;
  padding:0px;
  overflow-x: hidden; 
}
/* body {
  width:100%;
  height: calc(100% - var(--navHeight));
  height:100%;
  background-color: var(--colorBase);
  margin:0px;
  padding:0px;
} */