:root {
  --v0c: rgba(150,150,150);
  --v1c: rgba(140,140,140);
  --v2c: rgba(130,130,130);
  --v3c: rgba(120,120,120);
  --v4c: rgba(110,110,110);
  --v5c: rgba(100,100,100);
  --v6c: rgba(90,90,90);
  --v7c: rgba(80,80,80);
  --v8c: rgba(70,70,70);
  --v9c: rgba(60,60,60);
  --v10c: rgba(50,50,50);
  --v11c: rgba(40,40,40);
}

.wrapper {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  width:99%;
  height:98%;
}
body {
  width:100%;
  height:100%;
}