div {
    /* border: 1px black dashed; */
}
.entryBox {
    width:60%;
    height:50px;
    display:flex;
    justify-content: row;
    margin: 1px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);

}

.entryBox:hover {
    background-color: #62a9c5 !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;}

.entryBox p {
    color:var(--textColor);
    font-size: 17px;
}

.difficulty {
    width:20%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.details {
    width:80%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details p {
    margin:0px;
}